.markdown-body img {
  background: none !important;
}

.main-image {
  width: 30vw;
}

.head-title {
  text-align: center;
}

h1.head-title {
    color: var(--sy-c-link-hover);
}

.head-button {
    display: flex;
    justify-content: center;
}

.yue p.lead {
    text-align: center;
}

#embed ul li p img {
    max-width: 300px;
    max-height: 300px;
}

#embed ul li p {
    color: var(--sy-c-light);
}

#embed ul li p img {
    max-width: 300px;
    max-height: 300px;
}

div.sketchviz-image object {
    margin-left: auto;
    margin-right: auto;
}

html.dark div.sketchviz-image {
    filter: invert(100%);
}

:root {
    --i-linkedin-url:url('/_static/icons/linkedin.svg');
    --i-facebook-url:url('/_static/icons/facebook.svg');
}

.i-icon.linkedin {
    --icon-url:var(--i-linkedin-url);
}

.i-icon.facebook {
    --icon-url:var(--i-facebook-url);
}

.i-icon.social-media {
    width: 2em;
    height: 2em;
}
