<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
  <title>{% block title %}{% if pagename == "index" %}{% else %}{{title}} | {% endif %}Grupo de Usuarios de Python en Perú{% endblock %}</title>
  {% block extrahead %}{% endblock %}
  <meta name="description" content="">
  <meta name="author" content="">
        
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
  <link rel="shortcut icon" href="{{ pathto('_static/images/favicon.ico', 1) }}">
  <link rel="apple-touch-icon" href="{{ pathto('_static/images/apple-touch-icon.png', 1) }}">
  <script src="{{ pathto('_static/javascript/libs/modernizr-1.7.min.js', 1) }}"></script>
    
  <!-- bootstrap -->
  <link rel="stylesheet" href="{{ pathto('_static/' + style, 1) }}" type="text/css" />
  {% block extra %}
  <!-- Include extra css/js  -->
  {% endblock %}
</head>
<body>
    <header>        
    {% block header %}
    {% endblock %}
    </header>

    <div class="container">
      <br><br><br>
      {% block content %}
      {% endblock %}
      <footer>
      {% block footer %}
      {% include "footer.html" %}
      {% endblock %} 
      </footer>
    </div> <!-- /container -->
  
  <script src="{{ pathto('_static/javascript/libs/jquery-1.5.1.min.js', 1) }}"></script>
  <script src="{{ pathto('_static/javascript/bootstrap/1.3.0/bootstrap-alerts.js', 1) }}"></script>
  <script src="{{ pathto('_static/javascript/bootstrap/1.3.0/bootstrap-dropdown.js', 1) }}"></script>
  <script src="{{ pathto('_static/javascript/bootstrap/1.3.0/bootstrap-modal.js', 1) }}"></script>
  <script src="{{ pathto('_static/javascript/bootstrap/1.3.0/bootstrap-popover.js', 1) }}"></script>
  <script src="{{ pathto('_static/javascript/bootstrap/1.3.0/bootstrap-tabs.js', 1) }}"></script>
  <script src="{{ pathto('_static/javascript/bootstrap/1.3.0/bootstrap-twipsy.js', 1) }}"></script>
  
  <script src="{{ pathto('_static/javascript/libs/jquery.tweet.js', 1) }}"></script>
  <script type='text/javascript'>
    $(document).ready(function(){
        $(".tweet").tweet({
            username: "pythonperu",
            avatar_size: 20,
            count: 1,
            loading_text: "Cargando tweets..."
        });
    });
  </script> 
  <!--[if lt IE 7 ]>
  <script src={{ pathto('_static/javascript/libs/dd_belatedpng.js', 1) }}"></script>
  <script> DD_belatedPNG.fix('img, .png_bg');</script>
  <![endif]-->
</body>
</html>
